{% extends 'todo/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    
<!-- Header Section -->
<header>

    <div class="container text-center bg-white py-5">
        <h1>Lista de Tareas</h1>
        <p>Agrega tu tarea aquí.</p>
    </div>

</header>
<!-- End of Header Section -->

<!-- Table of Tareas -->
<main>
    <div class="container">
        <table class="table table-dark table-striped table-hover">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tarea</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <th scope="row">{{ tarea.id }}</th>
                    <td>{{ tarea }}</td>
                    <td>
                        <button type="button" class="btn btn-light">
                            <a href="{% url 'eliminar' tarea.id %}" 
                            style="text-decoration: none; color: black;">Eliminar</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-light">
                            <a href="{% url 'editar' tarea.id %}" 
                            style="text-decoration: none; color: black;">Editar</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <!-- Pagination Links -->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                {% if tareas.has_previous %}
                    <li class="page-item"><a class="page-link bg-dark " style="color: white;" href="?page=1">&laquo;&laquo;</a></li>
                    <li class="page-item"><a class="page-link bg-dark" style="color: white;" href="?page={{ tareas.previous_page_number }}">{{ tareas.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active"><span style="color: white;" class="page-link bg-dark">{{ tareas.number }} <span class="sr-only"></span></span></li>
                {% if tareas.has_next %}
                    <li class="page-item"><a class="page-link bg-dark" style="color: white;" href="?page={{ tareas.next_page_number }}">{{ tareas.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link bg-dark" style="color: white;" href="?page={{ tareas.paginator.num_pages }}">&raquo;&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- End Pagination Links -->

    </div>
</main>
<!-- End of Table of Tareas -->

{% endblock %}

